@import "bower_components/bootstrap/less/bootstrap.less";
@import "custom-variables.less";
@import "gu-footer.less";
@import "spinner.less";


.form-col {
  .make-xs-column(4);
  &.sidebar-right {
    .make-xs-column-offset(8);
    box-shadow: -2px 0px 8px 0 rgba(0,0,0,0.16), -4px 0 10px 0 rgba(0,0,0,0.12);
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding-top: 40px;
  //padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 2px 0px 8px 0 rgba(0,0,0,0.16), 4px 0 10px 0 rgba(0,0,0,0.12);
  padding-top: 70px;
}

.image-col {
  //background-color: @gray-darker;
  .make-xs-column(8);
  &.sidebar-left {
    .make-xs-column-offset(4);
  }
  max-height: 100%;
  overflow: hidden;
  padding-top: 50px;
}

.list-col {
  padding-top: 70px;
}
