@import "bower_components/bootstrap/less/bootstrap.less";
@import "custom-variables.less";
@import "gu-footer.less";
@import "spinner.less";

.form-group.has-error {
    background-color: #ffeeee;
}

.form-group.has-error > select {
    background-color: #ffeeee;
}

.input-group-addon {
  label {
    margin-bottom: 0;
  }
}


.startpage-container {
  padding-top: 70px;
  .stats-row {
    margin-top: 30px;
    margin-bottom: 30px;
    .stats-label {
      display: block;
      color: @gray-light;
    }
    .stats-number {
      font-size: 4em;
      line-height: 1em;
    }
  }
  .button-row {
    margin-top: 15px;
  }
}

.users-container {

  margin-top: 20px;

}

.form-col {
  .make-xs-column(4);
  &.sidebar-right {
    .make-xs-column-offset(8);
    box-shadow: -2px 0px 8px 0 rgba(0,0,0,0.16), -4px 0 10px 0 rgba(0,0,0,0.12);
  }
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 2px 0px 8px 0 rgba(0,0,0,0.16), 4px 0 10px 0 rgba(0,0,0,0.12);

  .cardTypeSelectorRow {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.image-col {
  //background-color: @gray-darker;
  .make-xs-column(8);
  &.sidebar-left {
    .make-xs-column-offset(4);
  }
  max-height: 100%;
  overflow: hidden;
  .alert {
    margin-top: 10px;
  }
  .floating-toolbar {
    position: fixed;
    bottom: 20px;
    z-index: 950;
    right: 20px;
    &.floating-toolbar-left {
      left: 20px;
    }

    button {
      box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.6);
    }
  }
}

.list-col {
  padding-top: 70px;
}
