@import "bower_components/bootstrap/less/bootstrap.less";
@import "custom-variables.less";
@import "spinner.less";

@media (min-width: 1200px) {
    #confirmModal {
        .modal-lg {
            width: 1170px !important;
        }
    }
}

.form-group.has-error {
    label {
      color: @state-danger-text;
    }
}

.card-row {
    &.lookup-mismatch {
        border-left: 5px solid red;
        border-right: 5px solid red;
    }
    &.lookup-match {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}

.form-group.has-error > select {
    background-color: #ffeeee;
}

.input-group-addon {
  label {
    margin-bottom: 0;
  }
}


.startpage-container {
  padding-top: 70px;
  padding-bottom: 70px;
  .stats-row {
    margin-top: 30px;
    margin-bottom: 30px;
    .stats-label {
      display: block;
      color: @gray-light;
    }
    .stats-number {
      font-size: 4em;
      line-height: 1em;
    }
  }
  .button-row {
    margin-top: 15px;
  }
}

.users-container {
  margin-top: 70px;
}
.admin-container {
  margin-top: 70px;
}

.form-col {
  background-color: #eeeeee;
  .make-xs-column(5);
  .make-md-column(4);
  &.sidebar-right {
    .make-xs-column-offset(7);
    .make-md-column-offset(8);
    box-shadow: -2px 0px 8px 0 rgba(0,0,0,0.16), -4px 0 10px 0 rgba(0,0,0,0.12);
  }
  .form-inline {
    margin-bottom: 15px;
  }
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 25px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 2px 0px 8px 0 rgba(0,0,0,0.16), 4px 0 10px 0 rgba(0,0,0,0.12);
  .cardTypeSelectorRow {
    margin-bottom: 20px;
  }
  .previous-card-lookup {
    padding-right: 10px;
  }
}

.image-col {
  //background-color: @gray-darker;
  .make-xs-column(7);
  .make-md-column(8);
  &.sidebar-left {
    .make-xs-column-offset(5);
    .make-md-column-offset(4);
  }
  max-height: 100%;
  overflow: hidden;
  .alert {
    margin-top: 10px;
  }
  .floating-toolbar {
    position: fixed;
    bottom: 20px;
    z-index: 950;
    right: 20px;
    &.floating-toolbar-left {
      left: 20px;
    }

    button {
      box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.6);
    }
  }
}

.list-col {
  padding-top: 70px;
}

.author_type_selection {
  border-bottom: 2px solid black;
  margin-right: 10px;
}

.title_type_selection {
  border-bottom: 2px dashed black;
}

.card_number {
    margin-left: 10px;
    font-size: 80%;
    color: #888;
    font-weight: normal;
}