<div>
  <form>
    <div class="form-group">
      <label for="lookupFieldValue">Pseudonym</label>
      {{input value=model.lookup_field_value type="text" class="form-control" id="lookupFieldValue" placeholder="Pseudonym"}}
    </div>
    <div class="form-group">
      <label for="referenceInput">Verklig författare</label>
      {{textarea value=model.reference_text type="text" class="form-control" id="referenceInput" placeholder="Verklig författare"}}
    </div>
    <div class="form-group">
      <label for="problemInput">Problem</label>
      {{textarea rows="3" value=model.primary_registrator_problem type="text" class="form-control" id="problemInput" placeholder="Problembeskrivning"}}
    </div>
  </form>
</div>
