<div>
  <form>
    <div class="form-group">
      <label for="authorInput">Författare/Titeluppslag</label>
      {{input value=author type="text" class="form-control" id="authorInput" placeholder="Författare"}}
    </div>
    <div class="form-group">
      <label for="referenceInput">Se</label>
      {{textarea value=title type="text" class="form-control" id="referenceInput" placeholder="Hänvisning"}}
    </div>
    <div class="form-group">
      <label for="problemInput">Problem</label>
      {{textarea rows="3" value=problem type="text" class="form-control" id="problemInput" placeholder="Problembeskrivning"}}
    </div>
  </form>
</div>
