<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
      <h3>Logga in</h3>
      {{#if error}}
      <div class="alert alert-danger">
        {{error.msg}}
      </div>
      {{/if}}
      <form {{action 'authenticate' on='submit'}} role="form">
        <div class="form-group">
          <label for="identification">Användarnamn</label>
          {{input value=identification classBinding=":form-control" placeholder="Användarnamn"}}
        </div>
        <div class="form-group">
          <label for="password">Lösenord</label>
          {{input value=password classBinding=":form-control" placeholder="Lösenord" type='password'}}
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Logga in</button>
        </div>
      </form>
    </div>
  </div>
</div>
