<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Det finns inga fler kort att motläsa.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 ">
      <div class="text-center">
        {{#link-to 'home' class="btn btn-lg btn-primary"}}OK{{/link-to}}
      </div>
    </div>
  </div>
</div>
